.main-container{
  width: 100vw;
  height: 100vh;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
button{
  margin: 10px;
  padding: 10px;
  background-color: royalblue;
  border: 1px solid blue;
  color: white;
  font-size: 20px;

}
button:hover{
  cursor: pointer;
}
.count{
  font-size: 40px;
}